@charset "ISO-8859-1";
.navbar {
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: black;
}

ul {
    float: left;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: -40px;
}

ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 1px;
    font-size: 16px;
    font-family: Arial;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #008DFF;
}

ul li a:active {
    color: #ff7200;
}

.tbl1 {
    background-color: black;
}

.img03 {
    margin-left: 10px;
    cursor: pointer;
}

.welcome {
    color: white;
    font-family: Calibri;
}

#btnn1 {
    width: 150px;
    height: 40px;
    background: #008DFF;
    border: 2px solid #008DFF;
    color: #fff;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

#btnn1:hover{
    opacity: .7;
}

#bttn2 {
    height: 30px;
    background: #0000FF;
    border: 2px solid #0000FF;
    color: #fff;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

#bttn2:hover{
    opacity: .7;
}

* {
    box-sizing: border-box
}

form {
    width: 970px;
    height: 530px;
    margin: auto;
    padding: 50px;
    background-color: rgba(250,250, 250, 0.5);
    font-size: 17px;
    font-family: Calibri;
}

.utbl{
	width: 970px;
    height: 530px;
    margin: auto;
    padding: 50px;
    background-color: rgba(250,250, 250, 0.3);
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri;
}

#userid, #username, #em, #pwd{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 350px;
    height: 40px;
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
}

#bttn3 {
    
    height: 30px;
    background: #0000FF;
    border: 2px solid #0000FF;
    color: #fff;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

#bttn3:hover{
    opacity: .7;
}
